.css-variables {
  --background-white: #ffffff,
  --primary-text: rgba(0, 0, 0, 0.88),
}

.ant-form-item-label >.ant-form-item-required::before {
  display: none !important;
}

.ant-form-item-label >.ant-form-item-required::after {
    visibility: visible !important;

    /* position: relative; */
    /* margin-block: 0; */
    margin-inline-start: 4px !important;
    /* margin-inline-end: 8px; */

    display: inline-block;
    margin-inline-start: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*" !important;
}

.ant-layout-sider .ant-layout-sider-trigger {
  background: var(--background-white) !important;
  height: 72px !important;
  line-height: 18px !important;
}

.ant-btn-variant-text:not(:disabled):not(.ant-btn-disabled):hover {
  background: transparent !important;
}
